<div class="image-container">
    <img class="full-width-image" src="https://images.pexels.com/photos/9255743/pexels-photo-9255743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Women's">
    <div class="overlay">Women's</div>
</div>

<div class="spacer"></div>

<div class="image-container">
    <img class="full-width-image" src="https://images.pexels.com/photos/9775894/pexels-photo-9775894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Men's">
    <div class="overlay">Men's</div>
</div>